{% extends 'entidades/base.html' %}

{% block title %}¿Quién Soy? | Sistema de Gestión{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-5 fw-bold text-secondary mb-3">¿Quién Soy?</h1>
    <p class="lead text-muted">
        Mi nombre es <strong>Esteban López</strong>, Licenciado en Logística y Analista de Datos.
        Desarrollé este sistema como parte del proyecto final de la diplomatura en Data Science,
        con el objetivo de integrar la gestión logística y el análisis de información en una
        plataforma única y funcional.
    </p>

    <p class="mt-3">
        Este sistema permite administrar productos, clientes, vendedores y ventas de manera
        centralizada, ofreciendo herramientas para visualizar, registrar y optimizar operaciones
        logísticas y comerciales.
    </p>

    <hr>

    <p><strong>Contacto profesional:</strong></p>
    <ul>
        <li>Portafolio: <a href="https://sites.google.com/view/estebanlopezpro/de-datos-a-decisiones?authuser=0" target="_blank">Haz click aquí</a></li>    
        <li>Email: lopezesteban2704@gmail.com</li>
        <li>GitHub: <a href="https://github.com/estebanlopezlog" target="_blank">estebanlopezlog</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/lopezesteban1/" target="_blank">/in/lopezesteban1</a></li>
    </ul>

</div>
{% endblock %}
